@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box !important;
}

.font_DMsans {
  font-family: "DM Sans", sans-serif;
}

.font_Chivo {
  font-family: "Chivo", sans-serif;
}

.font_Poppins {
  font-family: "Poppins", sans-serif;
}

.max_width_1360 {
  max-width: 1360px;
}

.max_width_1140 {
  max-width: 1140px;
}

.max_width_578 {
  max-width: 578px;
}

.max_width_800 {
  max-width: 800px;
}

.gap_12 {
  gap: 12px;
}

.gap_16 {
  gap: 16px;
}

.gap_28 {
  gap: 28px;
}

.gap_55 {
  gap: 55px;
}

.nav_padding {
  padding-top: 14px;
  padding-bottom: 14px;
}

.link_hover:hover {
  color: white;
  transition: all 300ms linear;
}

.dropbtn {
  font-size: 16px;
  border: none;
  background: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn:hover {
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.hero_baground {
  background-image: url(./assets/images/herosection-bg.png);
  background-position: center;
  background-size: cover;
}

.min-vh-777 {
  min-height: 777px;
}

.nav_baground {
  background: #11100B1A;
  backdrop-filter: blur(40px);
}

.nav_btn {
  border: 2px solid;
  color: white;
  padding: 14px 22px;
  border-image-source: linear-gradient(180deg, #D01F23 0%, #6A1012 100%);
  box-shadow: 0px 2px 20.9px 0px #B61C1FCC;
  background: linear-gradient(180deg, #6A1012 0%, #D01F23 100%);
  transition: all 300ms ease-in-out;

}

.nav_btn:hover {
  border: 2px solid #F0C879;
  box-shadow: 0px 1px 5.9px 0px #F0C879;
  background: transparent;
  transition: all 300ms ease-in-out;
  color: #F0C879;

}

.btn_box {
  border: 1px solid #FFFFFF3B;
  background: #7676801F;
  padding: 15px;
}

.nav_input {
  background: transparent;
  border: none;
  outline: none;
  max-width: 101px;
}

::placeholder {
  color: var(--gray);
}

.-mt_1 {
  margin-top: -1px;
}

.margin_top_160 {
  margin-top: -160px;
}

.padding_top_heading {
  padding-top: 168px;
}

.padding_top_200 {
  padding-top: 200px;
}

.padding_top_15 {
  padding-top: 15px;
}

.padding_bottom_210 {
  padding-bottom: 210px;
}

.padding_bottom_27 {
  padding-bottom: 27px;
}

.circle_baground {
  background-image: url(./assets/images/circle-ellipse.png);
  background-position: top;
  background-repeat: no-repeat;
  height: 600px !important;
}

.volkswagen_position {
  left: 200px;
}

.volkswagen_position2 {
  left: 38%;
  top: -25%;
}

.mini_position1 {
  left: 34%;
  top: 8%;
}

.caterpillar_position {
  left: 56%;
  top: -7%;
}

.mercedes_position {
  top: 26%;
  left: 49%;
}

.mini_position2 {
  right: 21%;
  top: 20%;
}

.volkswagen2_position {
  right: 12%;
  top: -9%;
}


.padding_bottom_288 {
  padding-bottom: 288px;
}

.padding_bottom_68 {
  padding-bottom: 68px;
}

.red_hover {
  color: white;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.red_hover:hover {
  color: #B91C20;
  text-shadow: 0px 12px 27.4px #850A0D;
  transition: all 300ms ease-in-out;
}

.box_baground {
  background-image: url(./assets/images/box_baground.png);
  background-position: center;
  background-size: cover;
}

.box_red {
  padding: 11px 12px;
  background: #B91C20;
  max-width: 128px;
  position: absolute;
  top: 11px;
  left: 11px;
}

.padding_bottom_262 {
  padding-bottom: 262px;
}

.blue_ellipse {
  top: 5%;
  right: 200px;
}

.padding_bottom_70 {
  padding-bottom: 70px;
}

.max_width_745 {
  max-width: 745px;
}

.max_width_556 {
  max-width: 556px;
}

.box_white {
  background-image: url(./assets/images/section2-bg.png);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 38%;
  height: 417px;
  max-width: 893px;
  width: 100%;
  right: 0;
}

.box_white2 {
  background-image: url(./assets/images/section3-bg.png);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 29%;
  height: 417px;
  max-width: 956px;
  width: 100%;
  left: 0;
}

.footer_card {
  max-width: 364px;
}

.padding_top_75 {
  padding-top: 75px;
}

.padding_top_white_box {
  padding-top: 112px;
}

.padding_top_113 {
  padding-top: 113px;
}

.gold_position {
  left: -22px;
  top: 23%;
  z-index: 1;
  pointer-events: none;
}

.ellipse_gold {
  top: 25%;
  z-index: 0;
  pointer-events: none;
}

.red_ellipse {
  right: 0;
  bottom: -20%;
  z-index: 2;
  pointer-events: none;
}

.blue_liquid_position {
  right: 8%;
  z-index: 1;
  bottom: 0;
  pointer-events: none;

}

.padding_bottom_64 {
  padding-bottom: 78px;
}

.max_width_567 {
  max-width: 567px;
}

.blue_ellip_position {
  right: 0;
  bottom: -40px;
  z-index: 0;
  pointer-events: none;

}

.gold_position {
  max-width: 630px;
}

.scroll_image {
  height: 112px;
  width: 112px;
}

@media (min-width:992px) {
  .baground_red::after {
    background-image: url(./assets/images/bg-red.png);
    content: '';
    background-repeat: no-repeat;
    position: absolute;
    height: 69px;
    width: 264px;
    top: 0;
    right: -15px;
    z-index: -1;
  }

  .baground_red2::after {
    background-image: url(./assets/images/bg-red2.png);
    content: '';
    background-repeat: no-repeat;
    position: absolute;
    height: 69px;
    width: 205px;
    top: 0;
    right: -20px;
    z-index: -1;
  }

  .baground_red3::after {
    background-image: url(./assets/images/bg-red3.png);
    content: '';
    background-repeat: no-repeat;
    position: absolute;
    height: 69px;
    width: 348px;
    top: 0;
    right: -20px;
    z-index: -1;
  }

  .baground_blue::after {
    background-image: url(./assets/images/blue-bg.png);
    content: '';
    background-repeat: no-repeat;
    position: absolute;
    height: 69px;
    width: 335px;
    top: 0;
    right: -25px;
    z-index: -1;
  }
}

@media (max-width:992px) {
  .over_scroll {
    overflow-x: scroll;
  }
}

@media (max-width:1160px) {
  .blue_liquid_position {
    max-width: 443px;
  }
}

@media (max-width:571px) {
  .padding_top_white_box {
    padding-top: 110px;
  }

  .padding_top_heading {
    padding-top: 50px !important;
  }

  .box_white {
    height: 350px;
    top: 32%;
  }
}

@media (max-width:387px) {
  .padding_top_white_box {
    padding-top: 70px;
  }
}


@media (min-width:1400px) {
  .gold_position {
    max-width: 739px;
  }
}